@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

html, body {
   height: 100%;
}

 .sidebar{
    position: fixed;
    width: 250px;
    top:0;
    right: 0;
    bottom: 0;
    background: #fff;
    padding-top: 50px;
 }

 .sidebar h1{
    display: block;
    padding: 10px 20px;
    color: #111;
    text-decoration: none;
    font-family: "Rubik";
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
 }

 .sidebar a{
    display: block;
    padding: 10px 20px;
    color: #bbb;
    text-decoration: none;
    font-family: "Rubik";
    letter-spacing: 2px;
 }

 .sidebar a:hover{
    color: #111;
    margin-left: 20px;
    transition: 0.4s;
 }

.svgmap svg{
   display:block;
   margin:auto;
   align-items: left;
   animation-duration:1.2s;
   animation-name: animation;
   animation-iteration-count: initial;
   animation-direction: alternate;
}

@keyframes animation{
   from{
      transform: translateX(0) translateY(0);
      opacity: 0;
   }
   to {
      transform: translateX(150) translateY(0);
      transform: rotate3d(1, 0, 0, -0.23turn) scale(0.6);
      transform: rotate3d(3, -2, -1.8, -0.15turn);
      opacity: 1;
   }
}
